//mint-ui的px转rem
@function mintRem($n) {
  @return $n / (540 / 10)+rem;
}

//设计稿按照750的设计
@function rem($n) {
  @return $n / (1080 / 10)+rem;
}

//** 组件的高度
$header-height:									mintRem(70); // 头部bar组件的高度、
$bottom-height:									mintRem(65); // 底部bar组件的高度、
$navBar-height:                 mintRem(65); // tab切换组件的高度、

//** 字体大小
$font-small-size:                rem(42);
$font-base-size:                 rem(46);
$font-big-size:                  rem(50);
$font-big-big-size:              rem(60);

// 保持图像不超过他们父母的宽度
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

// 将有宽度的元素居中
@mixin center-auto ($display: block) {
	  display: $display;
    margin-left: auto;
    margin-right: auto;
}

// Ellipsis font when text overflow
@mixin font-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//下边框
@mixin bottomBorder() {
  border-bottom: 1px solid $bottom-line-color;
}
//全边框
@mixin borderBox(){
  border: 1px solid $bottom-line-color;
}
@mixin borderBoxActive(){
  border: 1px solid $red;
}

//遮罩
@mixin shade() {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $black;
  opacity: .3;
}

