.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $page-background-color;
  overflow: hidden;
  z-index: 0;
  .page-content {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    overflow: hidden;
    z-index: 0;
    // touch-action: none;                 // prevent default touch action
    -webkit-overflow-scrolling: touch;    // scroll effect optimize in safari

    font-size: $font-base-size; //基本字体
  }
}

/*pop层样式*/
.mint-popup-w70{
  width: 70%;
  height: 100%;
}
.mint-popup-w80{
  width: 80%;
  height: 100%;
}
.mint-popup-w100{
  width: 100%;
  height: 100%;
}
.mint-popup-h60{
  width: 100%;
  height: 60%;
}

.popup-content{
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: 100%;
}

